<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <style>
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header > .right {
            color: silver;
        }

        table.list {
            margin: 10px auto;
            width: 300px;
            background-color: lightgray;
        }

        table.list tr {
            display: flex;
            justify-content: space-evenly;
        }
    </style>
</head>

<body>
<header>
    <h2 class="left">
        Welcome, Admin!
    </h2>
    <div class="right">
        {{ user.getEmail() }} |
        <a href="/?page=logout">Logout</a>
    </div>
</header>
{% block body %}{% endblock %}
</body>

</html>