{% extends 'base_admin.html.twig' %}

{% block body %}
    <table class="list">
        {% for row in data %}
            <tr>
                <td>
                    {{ row.getId() }}
                </td>
                <td>
                    {{ row.getUsername() }}
                </td>
                <td>
                    {{ row.getEmail() }}
                </td>
                <td>
                    {{ row.getPassword() }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}