<ul>
        <li>
                <a href="http://localhost:8000?page=detail&id={{ item.getId() }}">
                        {{ item.getId() }}
                </a>
        </li>
        <li>{{ item.getName() }}</li>
        <li>{{ item.getDescription() }}</li>
</ul>