{% extends 'base.html.twig' %}

{% block body %}
    <form method="post">
        <input type="text" name="email" placeholder="Email" required>
        <input type="text" name="password" placeholder="Password" required>
        <button>Login</button>
    </form>
{% endblock %}